name: Scala CI
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '8'
    - name: "Configure AWS Credentials" Action for GitHub Actions
      uses: aws-actions/configure-aws-credentials@v4.0.2
    - name: Run tests
      run: sbt clean compile test
#    - name: Run coverage test
#      run: sbt clean coverage test
#    - name: Run coverage report
#      run: sbt coverageReport
#    - name: Run codacy coverage
#      run: sbt codacyCoverage
